.site {
    padding:1em;
    display: flex;
    flex-direction: column;

    .site-content {
        flex: 1 0 auto;
    }
}

@media screen and (min-width: $query__big) {

	@supports (grid-gap: 3em) {
		.site {
			display: grid;
			min-height: 100vh;
			column-gap: 3em;
			grid-template-columns: repeat(5, 1fr);
			grid-template-rows: 150px 1fr 50px;
			grid-template-areas: "header header header header header" ". content content content content" "footer footer footer footer footer";
		}

		.contact {
			.site {
				grid-template-rows: 120px 1fr 1fr 50px;
				grid-template-areas: "header header header header header" ". content content . ." ". content content sidebar sidebar" "footer footer footer footer footer";
			}
		}

		.site-header {
			grid-area: header;
		}

		.site-content {
			grid-area: content;
		}

		aside {
			grid-area: sidebar;
		}

		.site-footer {
			align-self: end;
			grid-column: 1 / -1;
		}
	}
}