button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);

	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem 1rem;
	@include font-size(.8);
	line-height: 1.5;
	border-radius: .15rem;
	padding: .75rem 1.25rem;
	line-height: 1.3333333333;
	border-radius: .2rem;


	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

input[type="submit"] {
	&:focus {
		outline: none;
	}

	&:hover {
		background-color: $color__interactive;
		border-color: $color__interactive;
		-webkit-transition: all .1s ease-in;
		-moz-transition: all .1s ease-in;
		-o-transition: all .1s ease-in;
		-ms-transition: all .1s ease-in;
		transition: all .1s ease-in;
	}
}

