input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 4px solid transparent;
	border-radius: 3px;
	padding: .5em;
	width: 100%;
	&:focus {
		color: $color__text-input-focus;
	}

}
select {
	border: 3px solid transparent;
}

textarea {
	height: 150px;
}

input.wpcf7-not-valid,
textarea.wpcf7-not-valid {
	border: 4px solid rgba(251, 131, 131, 0.83);//rgba(249, 88, 88, 0.83);
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

.invalid input[type="submit"] {
	background-color: rgb(191, 122, 122);
	border-color: rgb(191, 122, 122);
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

span.wpcf7-not-valid-tip {
	display: none;
}

div.wpcf7-validation-errors {
	display: none !important;
}

