/*!
Theme Name: Secundus
Author: Bart van Enter
Author URI: https://enter-webdevelopment.nl
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: secundus
Tags: blog, custom-background, custom-logo, custom-menu, editor-style, footer-widgets, featured-images, right-sidebar, sticky-post, theme-options, threaded-comments, translation-ready, two-columns

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Secundus is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@-webkit-keyframes slideinfromleft {
	0% {
		margin-left: -20px;
	}
	80% {
		margin-left: 0px;
	}
	100% {
		margin-left: 0px;
	}
}
@keyframes slideinfromleft {
	0% {
		margin-left: -20px;
	}
	80% {
		margin-left: 0px;
	}
	100% {
		margin-left: 0px;
	}
}

@-webkit-keyframes slideinfromright {
	0% {
		margin-left: 20px;
	}
	80% {
		margin-left: 0px;
	}
	100% {
		margin-left: 0px;
	}
}

@keyframes slideinfromright {
	0% {
		margin-left: 20px;
	}
	80% {
		margin-left: 0px;
	}
	100% {
		margin-left: 0px;
	}
}

@-webkit-keyframes slideinfrombottom {
	0% {
		margin-top: 40px;
	}
	40% {
		margin-top: 0px;
	}
	100% {
		margin-top: 0px;
	}
}

@keyframes slideinfrombottom {
	0% {
		margin-top: 40px;
	}
	40% {
		margin-top: 0px;
	}
	100% {
		margin-top: 0px;
	}
}

@-webkit-keyframes showborder {
	0% {
		width: 0px;
	}
	20% {
		width: 100%;
	}
	100% {
		width: 100%;
	}
}

@keyframes showborder {
	0% {
		width: 0px;
	}
	20% {
		width: 100%;
	}
	100% {
		width: 100%;
	}
}

@-webkit-keyframes revealfast {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes revealfast {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes reveal {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes reveal {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #ccc;
	font-family: "Roboto", "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans serif;
	font-weight: 300;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

@media screen and (min-width: 600px) {
	body,
	button,
	input,
	select,
	optgroup,
	textarea {
		font-size: 18px;
		font-size: 1.125rem;
	}
}

@media screen and (min-width: 900px) {
	body,
	button,
	input,
	select,
	optgroup,
	textarea {
		font-size: 20px;
		font-size: 1.25rem;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans serif;
	font-weight: normal;
	margin: 0;
	line-height: 1;
	letter-spacing: 2px;
}

h1 {
	font-size: 1em;
	color: #848181;
	font-weight: 500;
}

h2 {
	font-size: 2.6em;
}

h3 {
	font-size: 2.2em;
}

h4 {
	font-size: 1em;
	letter-spacing: 1px;
	font-weight: bold;
}

h5 {
	font-size: 1.8em;
}

h6 {
	font-size: 1.6em;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 18.75px;
	font-size: 1.17188rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 18.75px;
	font-size: 1.17188rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html, body {
	height: 100%;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #222222;
	/* Fallback for when there is no custom background color defined. */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0;
	padding: 1em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

address {
	font-style: normal;
}

p {
	margin-bottom: 0;
}

strong {
	font-weight: 500;
}

small {
	font-size: 60%;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem 1rem;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .15rem;
	padding: .75rem 1.25rem;
	line-height: 1.3333333333;
	border-radius: .2rem;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="submit"]:focus {
	outline: none;
}

input[type="submit"]:hover {
	background-color: #a1a1a1;
	border-color: #a1a1a1;
	transition: all .1s ease-in;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 4px solid transparent;
	border-radius: 3px;
	padding: .5em;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 3px solid transparent;
}

textarea {
	height: 150px;
}

input.wpcf7-not-valid,
textarea.wpcf7-not-valid {
	border: 4px solid rgba(251, 131, 131, 0.83);
	transition: all .2s ease-in;
}

.invalid input[type="submit"] {
	background-color: #bf7a7a;
	border-color: #bf7a7a;
	transition: all .2s ease-in;
}

span.wpcf7-not-valid-tip {
	display: none;
}

div.wpcf7-validation-errors {
	display: none !important;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	text-decoration: none;
	color: #ccc;
}

a:visited {
	color: #ccc;
}

a:hover, a:focus, a:active {
	color: #ccc;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	        clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	-webkit-clip-path: none;
	        clip-path: none;
	color: #ccc;
	display: block;
	font-size: 17.5px;
	font-size: 1.09375rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Global Layouts
--------------------------------------------------------------*/
.site {
	padding: 1em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.site .site-content {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
}

@media screen and (min-width: 1200px) {
	@supports (grid-gap: 3em) {
		.site {
			display: -ms-grid;
			display: grid;
			min-height: 100vh;
			-webkit-column-gap: 3em;
			        column-gap: 3em;
			-ms-grid-columns: (1fr)[5];
			    grid-template-columns: repeat(5, 1fr);
			-ms-grid-rows: 150px 1fr 50px;
			    grid-template-rows: 150px 1fr 50px;
			grid-template-areas: "header header header header header" ". content content content content" "footer footer footer footer footer";
		}
		.contact .site {
			-ms-grid-rows: 120px 1fr 1fr 50px;
			    grid-template-rows: 120px 1fr 1fr 50px;
			grid-template-areas: "header header header header header" ". content content . ." ". content content sidebar sidebar" "footer footer footer footer footer";
		}
		.site-header {
			grid-area: header;
		}
		.site-content {
			grid-area: content;
		}
		aside {
			grid-area: sidebar;
		}
		.site-footer {
			-ms-flex-item-align: end;
			    -ms-grid-row-align: end;
			    align-self: end;
			grid-column: 1 / -1;
		}
	}
}

/*--------------------------------------------------------------
## Colors
--------------------------------------------------------------*/
.about {
	background-color: #222222;
}

.resume {
	background-color: #36374c;
}

.work {
	background-color: rgba(210, 210, 210, 0.33);
}

.work header a,
.work .site-branding a {
	color: black;
}

.work header a:hover, .work header a:visited,
.work .site-branding a:hover,
.work .site-branding a:visited {
	color: black;
}

.work .main-navigation button.menu-toggle {
	color: black;
}

.work .main-navigation a:after {
	border-bottom: 2px solid #000;
}

.work .site-content h1 {
	color: #585858;
}

.work .site-content h2 {
	color: rgba(88, 88, 88, 0.36);
}

.work footer {
	color: black;
}

.work footer a {
	color: black;
}

.work footer #social-media-menu a {
	color: black;
}

.work footer #social-media-menu a:hover, .work footer #social-media-menu a:visited {
	color: black;
}

.contact {
	background-color: #4c363f;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-header {
	font-family: "Roboto", "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-height: 65px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-animation: reveal 1s ease-out 0.3s 1 normal backwards;
	        animation: reveal 1s ease-out 0.3s 1 normal backwards;
}

@media screen and (min-width: 600px) {
	.site-header {
		border: none;
		padding: 0;
	}
}

.site-branding {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	text-transform: uppercase;
}

.site-branding a {
	text-decoration: none;
}

.site-branding a:visited, .site-branding a:hover {
	color: #ccc;
}

.site-branding .site-title,
.site-branding .site-description {
	margin: 0;
	padding: 0;
	line-height: 1em;
}

.site-branding .site-title {
	font-size: 2.2em;
	margin-bottom: .12em;
}

.site-branding .site-description {
	font-size: .6em;
	padding-left: .3em;
	letter-spacing: 1.5px;
}

/*--------------------------------------------------------------
## Header Menu
--------------------------------------------------------------*/
.main-navigation {
	display: block;
	font-family: "Roboto", "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans serif;
	color: #fff;
	z-index: 999;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	text-align: right;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-navigation li {
	display: inline;
	text-align: right;
}

.main-navigation a {
	padding: 1.5em 1em;
	border-bottom: 1px solid #ddd;
	color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-transform: uppercase;
	letter-spacing: .05em;
	display: inline-block;
	width: 100%;
	text-decoration: none;
	font-size: .9em;
	font-weight: 500;
}

.main-navigation .menu-toggle {
	border: none;
	background-color: transparent;
	color: #fff;
	font-family: "Roboto", "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans serif;
	margin: 1.5em 1em;
	padding: 0;
	text-transform: uppercase;
	border-radius: 0;
}

.main-navigation .menu-toggle:focus {
	outline: none;
}

.main-navigation.toggled-on {
	background: rgba(255, 255, 255, 0.95);
}

.main-navigation.toggled-on ul {
	display: block;
	border-top: 2px solid #ddd;
}

.main-navigation.toggled-on .menu-toggle {
	color: #000;
	font-weight: 500;
}

@media screen and (min-width: 600px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation {
		background: transparent;
		position: static;
	}
	.main-navigation ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		position: static;
	}
	.main-navigation a {
		border: none;
		color: #fff;
		font-size: .7em;
		padding: .5em 1em .5em;
	}
}

@media screen and (min-width: 900px) {
	.main-navigation ul {
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
		padding-top: 0;
	}
}

@media screen and (min-width: 1200px) {
	.main-navigation ul li a {
		font-weight: 300;
		position: relative;
	}
	.main-navigation ul li a:after {
		position: absolute;
		left: 15%;
		content: '';
		height: 30px;
		width: 70%;
		border-bottom: solid 2px #fff;
		transition: all 350ms ease-in-out;
		opacity: 0;
	}
	.main-navigation ul li a:hover:after {
		opacity: 1;
	}
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-content {
	padding: 0;
	margin: 3em 0 1em;
}

.site-content .entry-header {
	margin-bottom: 1.5em;
}

.site-content h1 {
	width: 0px;
	-webkit-animation: slideinfromleft 1s, reveal 2s;
	        animation: slideinfromleft 1s, reveal 2s;
}

.site-content .entry-content {
	max-width: 35em;
}

.site-content h2 {
	font-size: 3.5em;
	margin-bottom: 2rem;
	-webkit-animation: slideinfromright 1s, reveal 2s;
	        animation: slideinfromright 1s, reveal 2s;
}

.site-content .entry-content-page {
	-webkit-animation: slideinfromleft 1s, reveal 2s;
	        animation: slideinfromleft 1s, reveal 2s;
}

@media screen and (min-width: 1200px) {
	@supports ((display: -ms-grid) or (display: grid)) {
		.site-content {
			margin: 0;
		}
	}
	.site-content h2 {
		font-size: 4em;
	}
}

.home .entry-content p:first-of-type {
	font-weight: 400;
	font-size: 1.1em;
}

@media screen and (min-width: 900px) {
	.home .entry-content p:first-of-type {
		font-size: 1.3em;
	}
}

.work .site-content {
	padding: 0;
}

.work .entry-content {
	max-width: 100%;
}

.work .entry-content-page {
	-webkit-animation: slideinfrombottom 4s, reveal 2s;
	        animation: slideinfrombottom 4s, reveal 2s;
}

.resume ul {
	padding-bottom: 0;
	margin-bottom: 0;
}

.resume .entry-content {
	max-width: 55em;
}

.resume h4 {
	letter-spacing: 2px;
	font-weight: 500;
}

.resume h1 {
	-webkit-animation: slideinfromright 1s, reveal 2s;
	        animation: slideinfromright 1s, reveal 2s;
}

.resume p {
	-webkit-margin-before: .3em;
	-webkit-margin-after: .3em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.resume .entry-content > section {
	padding: 2rem 0 1rem;
}

.resume .entry-content > section h2 {
	font-size: 2.3em;
	word-spacing: 100vw;
	word-spacing: 999999999999px;
	-webkit-animation: slideinfromleft 1s, reveal 2s;
	        animation: slideinfromleft 1s, reveal 2s;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.resume .entry-content > section h2 {
		word-spacing: 0px;
	}
}

.resume .entry-content > section section {
	margin-bottom: 2rem;
	-webkit-animation: reveal 1s ease-out 0s 1 normal backwards;
	        animation: reveal 1s ease-out 0s 1 normal backwards;
}

.resume .entry-content > section section:last-child {
	margin-bottom: 1rem;
}

.resume .entry-content > section::after {
	content: '';
	display: block;
	width: 0;
	height: 1px;
	margin-top: 2rem;
	background: #ccc;
	opacity: 0;
	-webkit-animation: showborder 2s ease-out 0s 1 normal forwards, reveal 3s ease-out 0s 1 normal forwards;
	        animation: showborder 2s ease-out 0s 1 normal forwards, reveal 3s ease-out 0s 1 normal forwards;
}

.resume .entry-content > section:last-child::after {
	display: none;
}

@media screen and (min-width: 900px) {
	.resume .entry-content > section {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		padding: 4rem 0 1rem;
	}
	.resume .entry-content > section h2 {
		width: 35%;
	}
	.resume .entry-content > section div {
		width: 65%;
	}
}

.resume .technical-expertise div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.resume .technical-expertise section {
	margin-bottom: 1em;
	width: 100%;
}

@media screen and (min-width: 600px) {
	.resume .technical-expertise section {
		width: 48%;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.resume .entry-content > section h2 {
		width: 45%;
	}
	.resume .entry-content > section div {
		width: 55%;
	}
}

.contact .wpcf7 {
	margin-top: 50px;
}

.contact div.wpcf7 .ajax-loader {
	display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
	font-family: "Roboto", "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans serif;
	font-size: 13px;
	-webkit-animation: reveal 1s ease-out 0.3s 1 normal backwards;
	        animation: reveal 1s ease-out 0.3s 1 normal backwards;
}

/*--------------------------------------------------------------
## Footer Menu
--------------------------------------------------------------*/
#social-media-menu {
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	margin-bottom: .2em;
}

#social-media-menu li {
	padding: 0 .4em;
}

#social-media-menu li a {
	font-size: 1.5em;
	color: #ccc;
	font-size: 1.4em;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
aside {
	padding: 1.5em 0 0;
	border-top: 1px solid #fff;
	-webkit-animation: slideinfromright 1s, reveal 2s;
	        animation: slideinfromright 1s, reveal 2s;
	font-size: .9em;
	letter-spacing: .8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

@media screen and (min-width: 900px) {
	aside {
		font-size: .8em;
	}
}

@media screen and (min-width: 1200px) {
	@supports ((display: -ms-grid) or (display: grid)) {
		aside {
			display: block;
			border: none;
			padding: 0em 2em;
		}
	}
}

aside .widget {
	margin: 0 0 1.5em;
}

aside .widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: column;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	display: -webkit-box;
	display: flex;
}

.gallery .gallery-item {
	margin: 1.5em .3vw 0 0;
	border: 1px solid #eeeeee;
	background: white;
	color: black;
	position: relative;
	/* Opacity #1 */
}

.gallery .gallery-item img {
	opacity: 1;
	transition: .2s ease-in-out;
	-webkit-backface-visibility: hidden;
}

.gallery .gallery-item:hover img {
	opacity: .8;
}

.gallery .gallery-item:before, .gallery .gallery-item:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width: 300px;
	background: #777;
	box-shadow: 0 15px 10px #777;
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.gallery .gallery-item:after {
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}

@media screen and (min-width: 600px) {
	.gallery .gallery-item {
		width: calc(49.5% - 1.12vw);
		margin: 1em 1.5vw;
	}
}

@media screen and (max-width: 900px) {
	.gallery .gallery-item:nth-child(odd) {
		margin-left: 0;
	}
	.gallery .gallery-item:nth-child(even) {
		margin-right: 0;
	}
}

@media screen and (min-width: 900px) {
	.gallery .gallery-item {
		width: calc(31.9% - 1.12vw);
		margin: 1em 1.2vw;
	}
}

@media screen and (min-width: 1200px) {
	.gallery .gallery-item {
		width: calc(24% - 1.12vw);
		margin: 1em .6vw;
	}
	.gallery .gallery-item:nth-child(4n+1) {
		margin-left: 0;
	}
}

.gallery .gallery-item a {
	color: black;
	display: block;
}

.gallery .gallery-item figcaption {
	font-family: "Roboto", "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans serif;
	font-size: .9em;
	text-align: left;
	padding: .8em 1em;
}

.gallery .gallery-item figcaption h3 {
	margin-bottom: .8rem;
	font-size: 1rem;
	letter-spacing: 1px;
}

@media screen and (min-width: 600px) {
	.gallery .gallery-item figcaption {
		font-size: .75em;
	}
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
## Icons
--------------------------------------------------------------*/
/* SVG Icons base styles */
.icon {
	display: inline-block;
	fill: currentColor;
	height: 1em;
	position: relative;
	/* Align more nicely with capital letters */
	top: -0.0625em;
	vertical-align: middle;
	width: 1em;
}

/*--------------------------------------------------------------
SVG Fallbacks
--------------------------------------------------------------*/
.svg-fallback {
	display: none;
}

.no-svg .svg-fallback {
	display: inline-block;
}

/* Social Menu fallbacks */
.no-svg .social-menu a {
	height: auto;
	width: auto;
}

.no-svg .social-menu li a .screen-reader-text {
	clip: auto;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	height: auto;
	position: relative !important;
	/* overrides previous !important styles */
	width: auto;
}

/*# sourceMappingURL=../secundus/sass/maps/style.css.map */
