.gallery {
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: column;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	display: -webkit-box;
	display: flex;

	.gallery-item {
		margin: 1.5em .3vw 0 0;
		border: 1px solid #eeeeee;
		background: white;
		color: black;
		position: relative;


		/* Opacity #1 */
		img {
			opacity: 1;
			-webkit-transition: .3s ease-in-out;
			transition: .2s ease-in-out;
			-webkit-backface-visibility: hidden;
		}
		&:hover img {
			opacity: .8;
		}

		&:before, &:after
		{
			z-index: -1;
			position: absolute;
			content: "";
			bottom: 15px;
			left: 10px;
			width: 50%;
			top: 80%;
			max-width:300px;
			background: #777;
			-webkit-box-shadow: 0 15px 10px #777;
			-moz-box-shadow: 0 15px 10px #777;
			box-shadow: 0 15px 10px #777;
			-webkit-transform: rotate(-3deg);
			-moz-transform: rotate(-3deg);
			-o-transform: rotate(-3deg);
			-ms-transform: rotate(-3deg);
			transform: rotate(-3deg);
		}
		&:after
		{
			-webkit-transform: rotate(3deg);
			-moz-transform: rotate(3deg);
			-o-transform: rotate(3deg);
			-ms-transform: rotate(3deg);
			transform: rotate(3deg);
			right: 10px;
			left: auto;
		}


		@media screen and (min-width: $query__small) {
			width: calc(49.5% - 1.12vw);
			margin: 1em 1.5vw;
		}

		@media screen and (max-width: $query__medium) {
			&:nth-child(odd) {
				margin-left:0;
			}

			&:nth-child(even) {
				margin-right: 0;
			}
		}

		@media screen and (min-width: $query__medium) {
			width: calc(31.9% - 1.12vw);
			margin: 1em 1.2vw;
		}

		@media screen and (min-width: $query__big) {
			width: calc(24% - 1.12vw);
			margin: 1em .6vw;

			&:nth-child(4n+1) {
				margin-left:0;
			}
		}

		a {
			color: black;
			display:block;
		}

		figcaption {
			font-family: $font__sans;
			font-size: .9em;
			text-align: left;
			padding: .8em 1em;

			h3 {
				margin-bottom: .8rem;
				font-size: 1rem;
				letter-spacing: 1px;
			}

			@media screen and (min-width: $query__small) {
				font-size: .75em;
			}
		}
	}

}

.gallery-caption {
	display: block;
}