h1, h2, h3, h4, h5, h6 {
	font-family: $font__heading;
	font-weight: normal;
	margin: 0;
	line-height: 1;
	letter-spacing: 2px;
}

h1 {
	font-size: 1em;
	color: #848181;
	font-weight: 500;
}

h2 {
	font-size: 2.6em;
}

h3 {
	font-size: 2.2em;
}

h4 {
	font-size: 1em;
	letter-spacing: 1px;
	font-weight: bold;
}

h5 {
	font-size: 1.8em;
}

h6 {
	font-size: 1.6em;
}