body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__sans;
	font-weight: 300;
	@include font-size(.8);
	line-height: $font__line-height-body;

	@media screen and (min-width: $query__small) {
		@include font-size(.9);
	}

	@media screen and (min-width: $query__medium) {
		@include font-size(1);
	}
}

@import "headings";

@import "copy";
