I’m Bart, a freelance front end developer based in Bussum, the Netherlands.
I have over 10 years of web development experience and started freelancing in 2012.
These days I focus mainly on building custom Wordpress and Magento themes from scratch.
With the help of the latest tools and technologies I develop fast, interactive and responsive front ends and I use various tools
to improve my workflow and save time in development.

<div class="skills-tools">
	<section>
		<h3>Skills</h3>
		<ul>
			<li>JavaScript, React, jQuery</li>
			<li>HTML5, CSS3</li>
			<li>PHP, APIs</li>
			<li>Wordpress, Magento</li>
			<li>Server Setup</li>
		</ul>
	</section>
	<section>
		<h3>Tools</h3>
		<ul>
			<li>Sass, Less </li>
			<li>Git</li>
			<li>Gulp, Grunt, Webpack</li>
			<li>PhpStorm, Webstorm</li>
			<li>Photoshop, Illustrator</li>
		</ul>
	</section>
</div>