<section class="technical-expertise">
	<h2>Technical Expertise</h2>
	<div>
		<section>
			<h4>Skills</h4>
			<ul>
				<li>W3C Validated HTML5</li>
				<li>CSS3, Sass</li>
				<li>JavaScript, React, jQuery</li>
				<li>PHP, APIs, SQL</li>
				<li>Wordpress, Woocommerce</li>
				<li>Magento</li>
			</ul>
		</section>
		<section>
			<h4>Tools</h4>
			<ul>
				<li>Gulp, Grunt, Webpack</li>
				<li>PhpStorm, Webstorm</li>
				<li>Adobe Creative Suite</li>
				<li>Git</li>
			</ul>
		</section>
	</div>
</section>
<section>
	<h2>Work Experience</h2>
	<div>
		<section>
			<h4>Freelance Front end developer
				<small> | Jan 2012 - current</small>
			</h4>
			Working with digital agencies, startups and companies on different projects like e-commerce websites,
			Wordpress theme development, front-end maintenance

		</section>
		<section>
			<h4>V.H.C Jongens BV
				<small> | Nov 2012 - Dec 2014</small>
			</h4>
			Working on the marketing department responsible for building e-commerce websites

		</section>
		<section>
			<h4>Bedrijfssimulaties
				<small> | Jul 2012 - Dec 2012</small>
			</h4>
			Responsible for the front end development of simulations, games and e-learnings systems

		</section>
		<section>
			<h4>Synerg-e
				<small> | Dec 2008 - Jan 2012</small>
			</h4>
			Developing a webapplication for employment agencies. Front end and back end development

		</section>
	</div>
</section>
<section>
	<h2>Education</h2>
	<div>
		<section>
			<h4>Grafsch Lyceum Amsterdam
				<small> | Diploma - 2005</small>
			</h4>
			Graduated as graphic designer specialized in visualisation.

		</section>
		<section>
			<h4>Luzac College
				<small> | Diploma - 2001</small>
			</h4>
			One year extra high school to get two extra subjects, science and mathematics

		</section>
		<section>
			<h4>Berger Scholen Gemeenschap
				<small> | Diploma - 2000</small>
			</h4>
			High school

		</section>
	</div>
</section>