aside {
	padding:1.5em 0 0;
	border-top: 1px solid #fff;
	animation: slideinfromright 1s, reveal 2s;


	font-size: .9em;
	letter-spacing: .8px;
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;

	@media screen and (min-width: $query__medium) {
		font-size: .8em;
	}

	@media screen and (min-width: $query__big) {
		@supports (display: grid) {
			display: block;
			border: none;
			padding: 0em 2em;
		}
	}

	.widget {
		margin: 0 0 1.5em;

		select {
			max-width: 100%;
		}
	}
}

