#social-media-menu {
    list-style-type: none;
    display: flex;
    padding:0;
    margin-bottom: .2em;

    li {
        padding: 0 .4em;

        a {
            font-size:1.5em;

            &:hover,
            &:visited {
	            //background-color: $color__background-body-main;
            }

	        color: $color__text-main;
	        font-size: 1.4em;
            //color: $color__background-body-main;
            //border: solid 1px $color__background-body-main;
            //background-color: $color__text-main;
            //border-radius: 50%;
            //padding: 4px;
        }
    }
}

//.contact {
//    #social-media-menu {
//	    a {
//		    color: $color__background-body-contact;
//		    border: solid 1px $color__background-body-contact;
//
//		    &:hover,
//		    &:visited {
//			    background-color: $color__background-body-contact;
//			    color: $color__text-main;
//		    }
//	    }
//    }
//}
