.site-footer {
	font-family: $font__sans;
	font-size: 13px;
	animation: reveal 1s ease-out 0.3s 1 normal backwards;

}


/*--------------------------------------------------------------
## Footer Menu
--------------------------------------------------------------*/
@import "footer-menu";