.main-navigation {
	display: block;
	font-family: $font__sans;
	color: #fff;
	z-index: 999;
	position: absolute;
	right:0;
	left:0;
	top:0;
	text-align: right;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding: 0;

	}

	li {
		display:inline;
		text-align: right;
	}

	a {
		padding: 1.5em 1em;
		border-bottom: 1px solid #ddd;
		color: #000;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-transform: uppercase;
		letter-spacing: .05em;
		display: inline-block;
		width: 100%;
		text-decoration: none;
		font-size: .9em;
		font-weight: 500;
	}

	.menu-toggle {
		border: none;
		background-color: transparent;
		color: #fff;
		font-family: $font__sans;
		margin: 1.5em 1em;
		padding: 0;
		text-transform: uppercase;
		border-radius: 0;

		&:focus {
			outline: none;
		}
	}
}


.main-navigation.toggled-on {
	background: rgba(255,255,255,.95);

	ul {
		display: block;
		border-top: 2px solid #ddd;
	}

	.menu-toggle {
		color: #000;
		font-weight: 500;
	}
}

@media screen and (min-width: $query__small) {
	.menu-toggle {
		display: none;
	}

	.main-navigation {
		background: transparent;
		position: static;

		ul {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			position: static;
		}

		a {
			border: none;
			color: #fff;
			font-size: .7em;
			padding: .5em 1em .5em;
		}
	}
}

@media screen and (min-width: $query__medium) {
	.main-navigation {
		ul {
			justify-content: flex-end;
			padding-top: 0;
		}
	}
}

@media screen and (min-width: $query__big) {
	.main-navigation {
		ul {
			li {
				a {
					font-weight: 300;
					position: relative;

					&:after {
						position: absolute;
						left: 15%;
						content: '';
						height: 30px;
						width: 70%;
						border-bottom: solid 2px #fff;
						transition: all 350ms ease-in-out;
						opacity: 0;
					}

					&:hover:after {
						opacity: 1;
					}
				}
			}
		}
	}
}