.site-header {
	font-family: $font__sans;
	display: flex;
	justify-content: space-between;
	max-height: 65px;
	flex-wrap: wrap;
	animation: reveal 1s ease-out 0.3s 1 normal backwards;

	@media screen and (min-width: $query__small) {
		border: none;
		padding:0;
	}
}

.site-branding {
	flex: 1 0 auto;
	text-transform: uppercase;

	a {
		text-decoration: none;

		&:visited,
		&:hover {
			color: $color__link;
		}
	}

	.site-title,
	.site-description {
		margin:0;
		padding:0;
		line-height: 1em;
	}

	.site-title {
		font-size: 2.2em;
		margin-bottom: .12em;
	}

	.site-description {
		font-size: .6em;
		padding-left: .3em;
		letter-spacing: 1.5px;
	}
}

/*--------------------------------------------------------------
## Header Menu
--------------------------------------------------------------*/
@import "header-menu";
