@keyframes slideinfromleft {
	0% { margin-left:-20px; }
	80% { margin-left:0px; }
	100% { margin-left:0px; }
}

@keyframes slideinfromright {
	0% { margin-left:20px; }
	80% { margin-left:0px; }
	100% { margin-left:0px; }
}

@keyframes slideinfrombottom {
	0% { margin-top:40px; }
	40% {margin-top:0px; }
	100% { margin-top:0px; }
}

@keyframes showborder {
	0% { width:0px; }
	20% {width:100%; }
	100% {width:100%; }
}

@keyframes revealfast {
	0%   { opacity: 0; }
	40%   { opacity: 1; }
	100% { opacity: 1; }
}

@keyframes reveal {
	0%   { opacity: 0; }
	60%   { opacity: 1; }
	100% { opacity: 1; }
}