$color__interactive: #a1a1a1;

$color__background-body-main: #222222;
$color__background-body-work: rgba(210, 210, 210, 0.33);
$color__background-body-resume: #36374c;
$color__background-body-contact: #4c363f;

$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-main: #ccc;
$color__text-screen: #ccc;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #ccc;
$color__link-visited: #2f0020;
$color__link-hover: midnightblue;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
