$font__serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font__heading: "Roboto", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans serif;
$font__sans: "Roboto", "Droid Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans serif;
$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
