a {
	text-decoration: none;
	color: $color__link;

	&:visited {
		color: $color__link; //$color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link; //$color__link-hover;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
