.about {
	background-color: $color__background-body-main;
}
.resume {
	background-color: $color__background-body-resume;
}

.work {
	background-color: $color__background-body-work;

	header,
	.site-branding {
		a {
			color:black;

			&:hover,
			&:visited {
				color:black;
			}
		}
	}

	.main-navigation {
		button.menu-toggle {
			color: black;
		}

		a:after {
			border-bottom: 2px solid #000;
		}
	}

	.site-content {
		h1 {
			color: #585858;

		}

		h2 {
			color: rgba(88, 88, 88, 0.36);
		}
	}

	footer {
		color: black;

		a {
			color: black;
		}

		#social-media-menu {
			a {
				color: black;
				&:hover,
				&:visited {
					color: black;
				}
			}
		}
	}
}

.contact {
	background-color: $color__background-body-contact;
}