.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-content {
	padding: 0;
	margin: 3em 0 1em;

	.entry-header {
		margin-bottom: 1.5em;
	}

	h1 {
		width:0px;
		animation: slideinfromleft 1s, reveal 2s;
	}

	.entry-content {
		max-width: 35em;
	}

	h2 {
		font-size: 3.5em;
		margin-bottom: 2rem;
		animation: slideinfromright 1s, reveal 2s;
	}

	.entry-content-page {
		animation: slideinfromleft 1s, reveal 2s;
	}

	@media screen and (min-width: $query__big) {
		@supports (display: grid) {
			margin: 0;
		}

		h2 {
			font-size: 4em;
		}
	}
}

.home {
	.entry-content {
		p:first-of-type {
			font-weight: 400;
			font-size: 1.1em;

			@media screen and (min-width: $query__medium) {
				font-size:1.3em;
			}
		}
	}
}

.work {
	.site-content {
		padding: 0;
	}

	.entry-content {
		max-width: 100%;
	}

	.entry-content-page {
		animation: slideinfrombottom 4s, reveal 2s;
	}
}

.resume {
	ul {
		padding-bottom:0;
		margin-bottom:0;
	}

	.entry-content {
		max-width: 55em;
	}

	h4 {
		letter-spacing: 2px;
		font-weight: 500;
	}

	h1 {
		animation: slideinfromright 1s, reveal 2s;
	}

	p {
		-webkit-margin-before: .3em;
		-webkit-margin-after: .3em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
	}

	.entry-content > section {
		padding: 2rem 0 1rem;

		h2 {
			font-size: 2.3em;
			word-spacing: 100vw;
			word-spacing: 999999999999px;
			animation: slideinfromleft 1s, reveal 2s;

			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
				word-spacing: 0px;
			}
		}

		section {
			margin-bottom: 2rem;
			animation: reveal 1s ease-out 0s 1 normal backwards;
			&:last-child {
				margin-bottom: 1rem;
			}
		}

		&::after {
			content: '';
			display: block;
			width: 0;
			height: 1px;
			margin-top: 2rem;
			background: $color__text-main;
			opacity: 0;
			animation: showborder 2s ease-out 0s 1 normal forwards, reveal 3s ease-out 0s 1 normal forwards;
		}

		&:last-child::after {
			display: none;
		}
	}

	@media screen and (min-width: $query__medium) {
		.entry-content > section {
			display: flex;
			flex-wrap: wrap;
			padding: 4rem 0 1rem;

			h2 {
				width: 35%;
			}

			div {
				width: 65%;
			}
		}
	}

	.technical-expertise {
		div {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		section {
			margin-bottom:1em;
			width:100%;

			@media screen and (min-width: $query__small) {
				width: 48%;
			}
		}
	}

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		.entry-content > section {
			h2 {
				width: 45%;
			}

			div {
				width: 55%;
			}
		}
	}
}

.contact {
	.wpcf7 {
		margin-top: 50px;
	}

	div.wpcf7 .ajax-loader {
		display:none;
	}
}